*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
body {
    background: lightgoldenrodyellow;
    color: #fff;
}

#header{
    width: 100px;
    height: 100px;
}

.container{
    padding: 30px 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}